@{
    ViewBag.Title = "Quản lý thành viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><img src="~/images/icon/user-list2.png" width="20" />@ViewBag.Title</h2>
                @*<div class="box-icon">
            <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round btn-default">
                <i class="glyphicon glyphicon-chevron-up"></i>
            </a>
            <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
        </div>*@
            </div>
            <div class="box-content">
                <div class="alert alert-info" id="alert-info" style="display:none"></div>
                <div class="form-inline" style="text-align: right; padding: 10px">

                    <div class="input-group">
                        @Html.DropDownList("Role", (SelectList)@ViewBag.Roleseach, "Phân quyền", new { @class = "form-control", id = "quyens", onchange = "timkiemkhachhang()", style = "border-radius:5px" })
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><img src="~/images/icon/search-admin.png" width="14" /></span>
                        <input id="sodienthoais" type="text" class="form-control" placeholder="Số điện thoại" oninput="timkiemkhachhang()" style="width:156px !important">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><img src="~/images/icon/search-admin.png" width="14" /></span>
                        <input id="emails" type="text" class="form-control" placeholder="Email" oninput="timkiemkhachhang()" style="width:166px !important">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><img src="~/images/icon/search-admin.png" width="14" /></span>
                        <input id="hotens" type="text" class="form-control" placeholder="Họ tên" oninput="timkiemkhachhang()" style="width:166px !important">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><img src="~/images/icon/search-admin.png" width="14" /></span>
                        <input id="tendangnhaps" type="text" class="form-control" placeholder="Tên đăng nhập" oninput="timkiemkhachhang()" style="width:166px !important">
                    </div>
                

                </div>
                <div class="form-inline" style="text-align: right; padding: 10px">
                    <div class="input-group">
                        @Html.DropDownList("SetRole", (SelectList)@ViewBag.Role, "Sửa quyền thành viên", new { @class = "form-control", id = "setquyens" })
                        <span class="input-group-addon" onclick="phanquyens('@Url.Action("PhanQuyen", "Account")','')" style="cursor:pointer"><img src="~/images/icon/edit.png" width="14"/></span>
                    </div>

                </div>
                <div class="Ajax-Table">
                    @Html.Action("TimUser", "Account")
                </div>

            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->
