@model TuanStore.Models.LoginViewModel

<h2 class="bordered">Đăng nhập</h2>



@using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form cf-style-1", role = "form" }))
{
    @Html.AntiForgeryToken()
    if(TempData["ErrorLogin"] != null)
    {
        <span class="alert-danger h4 bold" id="alert-info">@TempData["ErrorLogin"]</span>
        <script>
            $('#alert-info').fadeOut(8000);
        </script>
    }
    <div class="field-row">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "le-input" ,placeholder = "Nhập tên đăng nhập của bạn" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="field-row">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "le-input", placeholder = "Nhập mật khẩu của bạn ( tối thiểu 6 ký tự )" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="field-row clearfix">
        <span class="pull-left">
            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "le-checbox auto-width inline" })<span class="content-color bold"> Duy trì đăng nhập</span>
        </span>
        
    </div>
    <div class="buttons-holder">
        <button type="submit" class="le-button huge"><img src="~/images/icon/Login-128.png" style="border-radius:50%;width:30px; height:30px;margin-right:5px" /> Đăng nhập</button>
    </div>
}