@using Microsoft.AspNet.Identity
@model TuanStore.Models.BinhLuan

<script>
    function test() {
        $('html, body').animate({
            scrollTop: $("#reviews").offset().top
        }, 500);
        $('#HoTen').val('');
        $('#NoiDung').val('');
        $('#Email').val('');
    }
</script>
<h2>Viết bình luận <img src="~/images/icon/writecmt.png" width="25" alt="Alternate Text" /></h2>
@using (Ajax.BeginForm("AddComment", "Comment", null, new AjaxOptions { UpdateTargetId = "Comments", OnSuccess = "test" }, new { @id = "contact-form", @class = "contact-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaSP, new { htmlAttributes = new { @class = "le-input" } })
    <div class="row field-row">
        @if (!Request.IsAuthenticated)
        {
            <div class="col-xs-12 col-sm-6">
                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "le-input", placeholder = "Họ tên của bạn" } })
                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-12 col-sm-6">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "le-input", placeholder = "Email của bạn" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        }
        else
        {
            <div class="col-xs-12 col-sm-6">
                <label class="h4" style="color: maroon">Xin chào : @ViewBag.Name</label>
            </div>
        }
    </div>
    
    <div class="field-row">
        <label>Hỏi đáp về sản phẩm ?</label>
        @Html.TextAreaFor(model => model.NoiDung, new { @class = "le-input", @rows = "8", placeholder = "Nhập nội dung hỏi đáp của bạn" })
        @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger"  })
    </div><!-- /.field-row -->
    <div class="buttons-holder">
        <button type="submit" class="le-button huge" formmethod="post"><img src="~/images/icon/send.png" width="30"/> Gửi</button>
    </div><!-- /.buttons-holder -->
}
