@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
<div id="top-banner-and-menu" class="homepage2">
    <div class="container">
        <div class="col-xs-12">
            <!-- ========================================== SECTION – HERO ========================================= -->
     

                    @Html.Action("SlideShowView","GiaoDien")


            <!-- ========================================= SECTION – HERO : END ========================================= -->
        </div>
    </div>
</div><!-- /.homepage2 -->
<!-- ========================================= HOME BANNERS ========================================= -->

<!-- ========================================= HOME BANNERS : END ========================================= -->
<script src="@Url.Content("~/js/loadmore.js")"></script>
<div id="products-tab" class="wow fadeInUp" style="margin:30px 0 80px 0;">
    <div class="container">
        <div class="tab-holder">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#featured" data-toggle="tab"><img src="~/images/icon/hoitem.png" style="border-radius:50%;width:30px; height:30px" /> Nổi bật</a></li>
                <li><a href="#new-arrivals" data-toggle="tab"><img src="~/images/icon/newitem.jpg" style="border-radius:50%;width:30px; height:30px" /> Mới nhập</a></li>
                <li><a href="#top-sales" data-toggle="tab"><img src="~/images/icon/discountitem.png" style="border-radius:50%;width:30px; height:30px" /> Giảm giá</a></li>
                <li><a href="#all-products" data-toggle="tab"><img src="~/images/icon/allproduct.png" style="border-radius:50%;width:30px; height:30px" /> Tất cả</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="featured">
                    <div class="product-grid-holder">
                        <div id="spnoibat">
                            @Html.Action("SPNoiBat", "Home")
                        </div>
                    </div>
                    <div class="loadmore-holder text-center">
                        <div id="sphotlink">
                            <a class="btn-loadmore btn" href='javascript:LoadMorePro(4,"SPNoiBat","#sphotlink","#spnoibat")' style="padding: 8px 22px 8px 22px;border-radius:50px;background-color:#34495E;color:white;font-weight:bold;margin:70px 0 0 0;">
                                <img src="~/images/icon/loadmore.png" style="border-radius:50%;width:30px; height:30px" />
                                Tải thêm
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="new-arrivals">
                    <div class="product-grid-holder">
                        <div id="spmoiload">
                            @Html.Action("SPMoiNhap", "Home")
                        </div>
                    </div>
                    <div class="loadmore-holder text-center">
                        <div id="spmoilink">
                            <a class="btn-loadmore btn" href='javascript:LoadMorePro(4,"SPMoiNhap","#spmoilink","#spmoiload")' style="padding: 8px 22px 8px 22px;border-radius:50px;background-color:#34495E;color:white;font-weight:bold;margin:70px 0 0 0;">
                                <img src="~/images/icon/loadmore.png" style="border-radius:50%;width:30px; height:30px" /> Tải thêm
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="top-sales">
                    <div class="product-grid-holder">
                        <div id="spkmload">
                            @Html.Action("SPKhuyenMai", "Home")
                        </div>
                    </div>
                    <div class="loadmore-holder text-center">
                        <div id="spkmlink">
                            <a class="btn-loadmore btn" href='javascript:LoadMorePro(4,"SPKhuyenMai","#spkmlink","#spkmload")' style="padding: 8px 22px 8px 22px;border-radius:50px;background-color:#34495E;color:white;font-weight:bold;margin:70px 0 0 0;">
                                <img src="~/images/icon/loadmore.png" style="border-radius:50%;width:30px; height:30px" />                            Tải thêm
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="all-products">
                    <div class="product-grid-holder">
                        <div id="allspload">
                            @Html.Action("AllProducts", "Home")
                        </div>
                    </div>
                    <div class="loadmore-holder text-center">
                        <div id="allsplink">
                            <a class="btn-loadmore btn" href='javascript:LoadMorePro(8,"AllProducts","#allsplink","#allspload")' style="padding: 8px 22px 8px 22px;border-radius:50px;background-color:#34495E;color:white;font-weight:bold;margin:70px 0 0 0;">
                                <img src="~/images/icon/loadmore.png" style="border-radius:50%;width:30px; height:30px" />                            Tải thêm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
<!-- ========================================= BEST SELLERS ========================================= -->
<section id="bestsellers" class="color-bg wow fadeInUp">
    <div class="container">
        <h1 class="section-title">Bán chạy nhất</h1>

        @Html.Action("SPBanChay","Home")
    </div><!-- /.container -->
</section><!-- /#bestsellers -->
<!-- ========================================= BEST SELLERS : END ========================================= -->
<!-- ========================================= RECENTLY VIEWED ========================================= -->
<section id="recently-reviewd" class="wow fadeInUp">
    <div class="container">
        <div class="carousel-holder hover">

            <div class="title-nav">
                <h2 class="h1">Sản phẩm vừa xem</h2>
                <div class="nav-holder">
                    <a href="#prev" data-target="#owl-recently-viewed" class="slider-prev btn-prev fa fa-angle-left"></a>
                    <a href="#next" data-target="#owl-recently-viewed" class="slider-next btn-next fa fa-angle-right"></a>
                </div>
            </div><!-- /.title-nav -->

            <div id="owl-recently-viewed" class="owl-carousel product-grid-holder">
                @Html.Action("SPMoiXem", "Home")
            </div><!-- /#recently-carousel -->

        </div><!-- /.carousel-holder -->
    </div><!-- /.container -->
</section><!-- /#recently-reviewd -->
