@using Microsoft.AspNet.Identity
@model ManhStore.Models.BinhLuan
<script>
    function scrolltoreview() {
        $('html, body').animate({
            scrollTop: $("#reviews").offset().top
        }, 500);
        $('#HoTen').val('');
        $('#Email').val('');
        $('#NoiDung').val('');
    }
</script>
@using (Ajax.BeginForm("AddReview", "Comment", null, new AjaxOptions { UpdateTargetId = "Reviews", OnSuccess = "scrolltoreview" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaSP, new { htmlAttributes = new { @class = "le-input" } })
    <div class="container">
        <div class="row choose-rate-field">
            <label class="col-lg-2">Đánh giá của bạn</label>
            <div class="star-holder col-lg-9">
                <div class="star-big" data-score="0"></div>
            </div>
        </div>
        <div id="add-review-container" class="row">
            <div class="col-lg-5">
                @Html.TextAreaFor(model => model.NoiDung, new {@id = "review-in", @class = "le-input review-input", @rows = "5", placeholder = "Nhập đánh giá sản phẩm (tối thiểu 50 ký tự)" })
                @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
            </div><!-- /.field-row -->
            <div class="info-review-container col-lg-5">
                <div class="row">
                    @if (!Request.IsAuthenticated)
                    {
                        <div class="col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "le-input review-input", placeholder = "Họ tên" } })
                            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "le-input review-input", placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 col-sm-6">
                            <label>Xin chào @ViewBag.Name</label>
                        </div>
                    }
                </div>
                <div class="button-holder">
                    <button type="submit" class="le-button huge" formmethod="post">GỬI ĐÁNH GIÁ</button>
                </div><!-- /.buttons-holder -->
            </div>
        </div>
    </div>
}


